extends layout 

link(href='/stylesheets/bootstrap.css', rel='stylesheet')
link(href='/stylesheets/style.css', rel='stylesheet')
link(href='/stylesheets/new.css', rel='stylesheet')
script(src='https://kit.fontawesome.com/95a02bd20d.js') 

block content
 .container
   .box 
     span
        .content 
           h1(align='center' , style="color:white") My Profile
           body(align='center' , bgcolor="red"  ,style="background-image: url('https://media.istockphoto.com/photos/mountain-landscape-picture-id517188688?k=20&m=517188688&w=0&h=pCjvUkNlz9_esVvQw2Wgc8VJZBMgJrB0FQmktCA0KYY='); background-repeat: no-repeat;background-size:100% 100%;" )
            center
              img(src='https://scontent.fixe2-1.fna.fbcdn.net/v/t1.6435-9/90084321_217412092956844_6904455250271272960_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=35IFDcIXKk0AX9rhFhI&_nc_ht=scontent.fixe2-1.fna&oh=00_AT8vBmmer2x_8KsXEB_H4HCT0G_r7-xG81TDrAIgP8ZaFA&oe=61FCCF71', height='250',width='200', align='center' ,style="border-radius:40%;border-color:red;border-width:thick;overflow:scroll"  )
              div(style="border-style:solid;border-color:red;") 
                h4(style="color:white") Name : Sooraj M Poojary 
                h4(style="color:white") B-tech: National Institute of Technology Karnataka 
                h4(style="color:white") Place : Karnataka , Udupi.
                h4(style="color:white") Intrests: Machine Learning , Web Development . 
                h4(style="color:white") Agenda : To register and post your intresting articles and Blogs
             div(style="position:fixed;bottom:0;left:0;width:100%;height: 70px;background-color:#D3D3D3;")
